@font-face {
  font-family: "aperture2";
  src: url("../font/aperture2.0-webfont.ttf") format("ttf"),
    url("../font/aperture2.0-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url("../img/landing-2.png");
  background-size: cover;
  font-family: "aperture2";
}

.leading-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  overflow: hidden;
}

.form-wrapper {
  background-color: #7a0000;
  width: 450px;
  padding: 2rem;

  border-radius: 12px;
  position: relative;
}
.form-wrapper > h1 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
